ruby {
    font-size: 2em;
}

section {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .3s;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 20px 20px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: translateY(-3px);
        // height: 300px;
        > img{
            transform: translateY(-5px);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        > ruby{
            transform: translateY(-5px);
        }

        > #devs{
            opacity: 1;
        }
    }

    > img {
        border-radius: 50%;
        transition: all .6s;
    }

    > #devs{
        display: flex;
        align-items: center;
        gap: 10px;
        > b{
            // &#en{
            //     padding-top: 4px;
            // }
            // &#ko{
            // }
            padding-top: 4px;
            font-weight: lighter;
        }
        > img{
            padding-top: -2px;
            // position: absolute;
            border-radius: 100%;
            width: 30px;
            box-shadow: 0px 0px 5px #ccc;
        }
        opacity: 1;
        transition: all .3s;
    }
}

article{
    width: 100%;
    
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 50px;
}