

ruby {
    font-size: 2em;
}

section {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .3s;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: translateY(-3px);
        > img{
            transform: translateY(-5px);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        > ruby{
            transform: translateY(-5px);
        }
    }

    > img {
        border-radius: 50%;
        transition: all .6s;
    }
}

article{
    width: 100%;
    
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 50px;    
}