$blue: #3D7BF8;
main{
    display: grid;
    justify-items: center;
    > section{
        width: 100%;
        padding-bottom: 100px;

        &#b{
            background-color: #fff;
            
            > h1{ color: $blue; }
            > article{ color: $blue; }
        }
        width: 100%;
        
        display: grid;
        gap: 50px;
        justify-items: center;

        

        > h1{
            margin-top: 100px;
            margin-bottom: 20px;
            font-size: 50px;
            font-weight: 100;
        }

        > div{
            margin-bottom: 20px;
            display: flex;
            padding: 10px;
            gap: 20px;
            > article{
                $bd: 10px;
                box-shadow: #ccc 0 0 5px;
                border-radius: $bd;
                > #head{

                    display: flex;
                    align-items: center;
                    font-size: 60px;
                    border-radius: $bd $bd 0 0;
                    background-color: #fff;
                    color: #000;
                    padding: 15px 100px 10px 15px;
                    > img{
                        width: 80px;
                        border-radius: 10px;
                        margin-right: 10px;
                        box-shadow: #ccc 0 0 5px 0;
                    }
                    z-index: 999;
                }
                > #description{
                    background-color: #fff;
                    color: #bbb;
                    font-size: 40px;
                    border-radius: 0 0 $bd $bd;
                    padding-left: 15px;
                    padding-right: 20px;
                    
                    > #urls{
                        display: flex;
                        padding-top: 5px;
                        gap: 10px;
                        > a > img{
                            background-color: #fff;
                            box-shadow: #ccc 0 0 5px 0;
                            width: 40px;
                            padding: 5px;
                            border-radius: 10px;
                            transition: all .2s;

                            &:hover{
                                transform: translateY(-1px);
                                box-shadow: #ccc 0 0 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar{
    display: none;
}