*{
    margin: 0;
}

header{
    transition: all .5s;
    $headerMG: 50px;
    display: flex;
    position: fixed;
    background-color: #fff;
    z-index: 100;
    
    
    padding-left: $headerMG;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 40px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.253) -1px 1px 5px;
    
    > nav{
        transition: all .5s;
        display: flex;
        margin-left: $headerMG;
        align-items: center;
        gap: $headerMG;

        > a{
            transition: all .5s;
            color: #000;
            text-decoration: none;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
    > img{
        height: 35px;
        transition: all .5s;
    }
}

@media (max-width: 500px) {
    header{
        $headerMG: 20px;
        padding-left: $headerMG;
        > nav{
            gap: $headerMG;
            margin-left: $headerMG;
        }

        > img{
            height: 30px;
        }
    }
}